<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/51bd176b44d7611931cd81/v3/index.json" />
    </packageSources>
</configuration>